<mat-tab-group>
  <mat-tab label="All">
    <mat-card>
      <form class="search-form">
        <mat-form-field>
          <mat-label>Search</mat-label>
          <mat-icon matPrefix>search</mat-icon>
          <input type="text" matInput #search (keyup)="onKeyUp(search.value)">
        </mat-form-field>
      </form>

      <mat-grid-list cols="5">
        <mat-grid-tile *ngFor='let poke of pokemon'>
          <button mat-fab color="primary" [routerLink]="['/details', poke.id]">
            <img mat-card-image [src]="poke.image" [alt]="poke.name">
          </button>
          <mat-grid-tile-footer>{{ poke.id + ' - ' + poke.name }}</mat-grid-tile-footer>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card>
  </mat-tab>
  <mat-tab label="Saved">Saved Pokemon</mat-tab>
</mat-tab-group>
